fastapi
uvicorn

# database and orm
SQLAlchemy
psycopg2

# env vars
python-dotenv


# email validations
pydantic[email]

# logging
loguru

# hashing passwords
passlib[bcrypt]

# testing
pytest
requests

# coverage
pytest-cov
